* {
  box-sizing: border-box;
}
.contain {
  width: 1200px;
}
body {
  font-family: "Times New Roman", Times, serif;
  color: black;
  background-color: lightcyan;
  font-size: xx-large;
  font-family: "Tangerine", cursive;
}

.title {
  font-family: "Tangerine", cursive;
}
